{% extends 'base.html' %}

{% set title = 'Página no encontrada' %}

{% block content %}
    <div class="text-center">
        <h1 class="text-3xl font-bold mb-4">¡Ups! Página no encontrada</h1>
        <img src="/imagenes/error404.avif" alt="Imagen de error 404" class="mx-auto mb-4 w-64 h-auto">
        <p class="text-lg text-gray-600">Lo sentimos, la página que estás buscando no se ha encontrado.</p>
        <p class="text-lg text-gray-600">Por favor, verifica la URL e intenta nuevamente.</p>
    </div>
{% endblock %}